.version.games /* version checker */
{
	color: #00000F;
	background-color: #4173AC;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #3F3F3F url("../images/backgroundtexture-page-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.75);
	background-size: cover;
}

#page_position_content
{
	padding-bottom: 109px;
	width: 0.01px;
}

#pu213
{
	width: 0.01px;
	margin-left: 20px;
}

#u213
{
	z-index: 62;
	width: 172px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u206
{
	z-index: 65;
	width: 57px;
	margin-right: -10000px;
}

#u142
{
	z-index: 63;
	width: 115px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 57px;
}

#menuu149
{
	z-index: 3;
	width: 431px;
	margin-right: -10000px;
	left: 244px;
}

#u150
{
	width: 138px;
	min-height: 91px;
	margin-right: -10000px;
}

#u151
{
	width: 138px;
	padding-bottom: 74px;
}

#u151:hover
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u151:active
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u151.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u152-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 37px;
	left: 49px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u151.MuseMenuActive #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u165
{
	width: 152px;
	min-height: 91px;
	margin-right: -10000px;
	left: 140px;
}

#u168
{
	width: 152px;
	padding-bottom: 74px;
}

#u168:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u168:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 54px;
	min-height: 17px;
	margin-right: -10000px;
	top: 37px;
	left: 49px;
}

#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u168:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 120px;
	top: 91px;
}

#u173
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u173:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u175-4
{
	width: 72px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u173:hover #u175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u173.MuseMenuActive #u175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u167,#u172,#u184
{
	width: 120px;
}

#u187
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u173.MuseMenuActive,#u187:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u188-4
{
	width: 36px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 37px;
}

#u187:hover #u188-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u187.MuseMenuActive #u188-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 142px;
	left: 120px;
}

#u192
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u192:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194-4
{
	width: 105px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 13px;
}

#u192:hover #u194-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u192.MuseMenuActive #u194-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u192.MuseMenuActive,#u613:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u616-4
{
	width: 52px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 40px;
}

#u613:hover #u616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u613.MuseMenuActive #u616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u626
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u613.MuseMenuActive,#u626:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u628-4
{
	width: 68px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 32px;
}

#u626:hover #u628-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u626.MuseMenuActive #u628-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u186,#u191,#u610,#u623,#u636
{
	width: 142px;
}

#u639
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u626.MuseMenuActive,#u639:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u639.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u641-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 29px;
}

#u639:hover #u641-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u639.MuseMenuActive #u641-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 137px;
	min-height: 91px;
	margin-right: -10000px;
	left: 294px;
}

#u160
{
	width: 137px;
	padding-bottom: 74px;
}

#u160:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u160:active
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u160.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 39px;
	min-height: 17px;
	margin-right: -10000px;
	top: 37px;
	left: 49px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u160.MuseMenuActive #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	z-index: 2;
	width: 960px;
	height: 5px;
	top: -5px;
	margin-bottom: -5px;
}

#u493-7
{
	z-index: 67;
	width: 707px;
	min-height: 253px;
	background-color: transparent;
	font-size: 21px;
	line-height: 25px;
	margin-left: 102px;
	margin-top: 47px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 20px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

