.version.index /* version checker */
{
	color: #0000EB;
	background-color: #AA0AAF;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: #3F3F3F url("../images/backgroundtexture-page-fr.png") no-repeat center center;
	background-color: rgba(0,0,0,0.75);
	background-size: cover;
}

#page_position_content
{
	padding-bottom: 69px;
	width: 0.01px;
}

#pu213
{
	width: 0.01px;
	margin-left: 20px;
}

#u213
{
	z-index: 62;
	width: 172px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u206
{
	z-index: 65;
	width: 57px;
	margin-right: -10000px;
}

#u142
{
	z-index: 63;
	width: 115px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 57px;
}

#menuu149
{
	z-index: 3;
	width: 431px;
	margin-right: -10000px;
	left: 244px;
}

#u150
{
	width: 138px;
	min-height: 91px;
	margin-right: -10000px;
}

#u151
{
	width: 138px;
	padding-bottom: 74px;
}

#u151:hover
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u151:active
{
	width: 138px;
	min-height: 0px;
	margin: 0px;
}

#u151.MuseMenuActive
{
	width: 136px;
	min-height: 0px;
	margin: 0px;
}

#u152-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 37px;
	left: 49px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u151.MuseMenuActive #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u165
{
	width: 152px;
	min-height: 91px;
	margin-right: -10000px;
	left: 140px;
}

#u168
{
	width: 152px;
	padding-bottom: 74px;
}

#u168:hover
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u168:active
{
	width: 152px;
	min-height: 0px;
	margin: 0px;
}

#u168.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u171-4
{
	width: 54px;
	min-height: 17px;
	margin-right: -10000px;
	top: 37px;
	left: 49px;
}

#u168:hover #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u168:active #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u168.MuseMenuActive #u171-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 54px;
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 120px;
	top: 91px;
}

#u173
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u173:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u175-4
{
	width: 72px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 19px;
}

#u173:hover #u175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u173.MuseMenuActive #u175-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u167,#u172,#u184
{
	width: 120px;
}

#u187
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u173.MuseMenuActive,#u187:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u187.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u188-4
{
	width: 36px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 37px;
}

#u187:hover #u188-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u187.MuseMenuActive #u188-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u185
{
	width: 142px;
	left: 120px;
}

#u192
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u192:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u194-4
{
	width: 105px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 13px;
}

#u192:hover #u194-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u192.MuseMenuActive #u194-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 105px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u192.MuseMenuActive,#u613:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u616-4
{
	width: 52px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 40px;
}

#u613:hover #u616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u613.MuseMenuActive #u616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u626
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u613.MuseMenuActive,#u626:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u628-4
{
	width: 68px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 32px;
}

#u626:hover #u628-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u626.MuseMenuActive #u628-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u186,#u191,#u610,#u623,#u636
{
	width: 142px;
}

#u639
{
	width: 140px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u626.MuseMenuActive,#u639:hover
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u639.MuseMenuActive
{
	width: 140px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u641-4
{
	width: 74px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 29px;
}

#u639:hover #u641-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u639.MuseMenuActive #u641-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 137px;
	min-height: 91px;
	margin-right: -10000px;
	left: 294px;
}

#u160
{
	width: 137px;
	padding-bottom: 74px;
}

#u160:hover
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u160:active
{
	width: 137px;
	min-height: 0px;
	margin: 0px;
}

#u160.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u162-4
{
	width: 39px;
	min-height: 17px;
	margin-right: -10000px;
	top: 37px;
	left: 49px;
}

#u160:hover #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u160.MuseMenuActive #u162-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 39px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	z-index: 2;
	width: 960px;
	height: 5px;
	top: -5px;
	margin-bottom: -5px;
}

#widgetu504
{
	z-index: 67;
	width: 0.01px;
	height: 317px;
	margin-left: 34px;
	margin-top: 10px;
	position: relative;
}

#widgetu515
{
	z-index: 68;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu515.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u517-4
{
	z-index: 69;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u518-4
{
	z-index: 73;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #7F7F7F;
	padding: 6px;
	line-height: 14px;
	color: #BFBFBF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu515.non-empty-st #u518-4
{
	background-color: #FFFFFF;
}

#widgetu515:hover #u518-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu515.focus-st #u518-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu515.non-empty-st #u518-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu515:hover #u518-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu515.focus-st #u518-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu515_input,#widgetu515_prompt
{
	width: 328px;
	min-height: 14px;
	color: #BFBFBF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	padding: 6px;
}

#widgetu511
{
	z-index: 77;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu511.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u512-4
{
	z-index: 78;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u513-4
{
	z-index: 82;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #7F7F7F;
	padding: 6px;
	line-height: 14px;
	color: #BFBFBF;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu511.non-empty-st #u513-4
{
	background-color: #FFFFFF;
}

#widgetu511:hover #u513-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu511.focus-st #u513-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu511.non-empty-st #u513-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu511:hover #u513-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu511.focus-st #u513-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u519-4
{
	z-index: 86;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu504.frm-sub-st #u519-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u509-4
{
	z-index: 90;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu504.frm-subm-err-st #u509-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u520-4
{
	z-index: 94;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	left: 140px;
}

#widgetu504.frm-sub-st #u519-4,#widgetu504.frm-subm-err-st #u509-4,#widgetu504.frm-subm-ok-st #u520-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu504.frm-subm-ok-st #u520-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u510-17
{
	z-index: 98;
	min-height: 31px;
	width: 131px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 287px;
	background: url("../images/u510-17.png") no-repeat 0px 0px;
}

#u510-17:hover
{
	background: url("../images/u510-17-r.png") no-repeat 0px 0px;
}

#u510-17:active
{
	background: url("../images/u510-17-m.png") no-repeat 0px 0px;
}

#widgetu504.frm-sub-st #u510-17
{
	background: url("../images/u510-17-fs.png") no-repeat 0px 0px;
}

#widgetu505
{
	z-index: 115;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu505.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u507-4
{
	z-index: 116;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu515.fld-err-st #u517-4,#widgetu505.fld-err-st #u507-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u508-4
{
	z-index: 120;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #7F7F7F;
	padding: 6px;
	line-height: 14px;
	color: #BFBFBF;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu505.non-empty-st #u508-4
{
	background-color: #FFFFFF;
}

#widgetu505:hover #u508-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu505.focus-st #u508-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu505.fld-err-st #u508-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu505.non-empty-st #u508-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505:hover #u508-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505.focus-st #u508-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu505_input,#widgetu505_prompt
{
	width: 328px;
	min-height: 68px;
	color: #BFBFBF;
	font-style: italic;
	padding: 6px;
}

#widgetu522
{
	z-index: 124;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: -1px;
}

#widgetu522.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 230px -10000px 0px 0px;
}

#u524-4
{
	z-index: 125;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu511.fld-err-st #u512-4,#widgetu522.fld-err-st #u524-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu515.fld-err-st #u517-4 p,#widgetu515.fld-err-st #u517-4 span,#widgetu511.fld-err-st #u512-4 p,#widgetu511.fld-err-st #u512-4 span,#widgetu505.fld-err-st #u507-4 p,#widgetu505.fld-err-st #u507-4 span,#widgetu522.fld-err-st #u524-4 p,#widgetu522.fld-err-st #u524-4 span
{
	color: #D7244C;
}

#u525-4
{
	z-index: 129;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #7F7F7F;
	padding: 6px;
	line-height: 14px;
	color: #BFBFBF;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu522.non-empty-st #u525-4
{
	background-color: #FFFFFF;
}

#widgetu522:hover #u525-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu522.focus-st #u525-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu515.fld-err-st #u518-4,#widgetu511.fld-err-st #u513-4,#widgetu522.fld-err-st #u525-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu522.non-empty-st #u525-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu522:hover #u525-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu522.focus-st #u525-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu515.fld-err-st #u518-4 *,#widgetu511.fld-err-st #u513-4 *,#widgetu505.fld-err-st #u508-4 *,#widgetu522.fld-err-st #u525-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu511_input,#widgetu511_prompt,#widgetu522_input,#widgetu522_prompt
{
	width: 328px;
	min-height: 14px;
	color: #BFBFBF;
	font-style: italic;
	padding: 6px;
}

#widgetu515.focus-st #widgetu515_prompt,#widgetu511.focus-st #widgetu511_prompt,#widgetu505.focus-st #widgetu505_prompt,#widgetu522.focus-st #widgetu522_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu515:hover #widgetu515_input,#widgetu515.focus-st #widgetu515_input,#widgetu515.fld-err-st #widgetu515_input,#widgetu515:hover #widgetu515_prompt,#widgetu515.fld-err-st #widgetu515_prompt,#widgetu511:hover #widgetu511_input,#widgetu511.focus-st #widgetu511_input,#widgetu511.fld-err-st #widgetu511_input,#widgetu511:hover #widgetu511_prompt,#widgetu511.fld-err-st #widgetu511_prompt,#widgetu505:hover #widgetu505_input,#widgetu505.focus-st #widgetu505_input,#widgetu505.fld-err-st #widgetu505_input,#widgetu505:hover #widgetu505_prompt,#widgetu505.fld-err-st #widgetu505_prompt,#widgetu522:hover #widgetu522_input,#widgetu522.focus-st #widgetu522_input,#widgetu522.fld-err-st #widgetu522_input,#widgetu522:hover #widgetu522_prompt,#widgetu522.fld-err-st #widgetu522_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu515.non-empty-st #widgetu515_prompt,#widgetu511.non-empty-st #widgetu511_prompt,#widgetu505.non-empty-st #widgetu505_prompt,#widgetu522.non-empty-st #widgetu522_prompt
{
	visibility: hidden;
}

#u531-4
{
	z-index: 133;
	width: 471px;
	min-height: 311px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	margin-left: 418px;
	top: -298px;
	margin-bottom: -298px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 20px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

