/*
* CSS Made by Sebastian Safari
* (c)2015
*/


/*--------ELEMENTS--------*/

html {
    color: white;
}
body {
    width: 100%;
}

/*for the image gallery*/

iframe {
    width: auto;
    height: 17em;
    overflow: hidden;
    display: block;
    border: none;
}
header {
    background-color: darkred;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    width: 100%;
}
h1 {
    font-size: 3em;
    display: inline-block;
}

/* Corrects spacing for h1 with the cutom font*/

h1.font {
    margin: -0.1em;
    display: block;
    width: 100%;
}
h2 {
    display: inline;
}
h3 {
    margin-top: -1em;
    text-align: right;
}

/*Nav Items*/

nav li {
    display: inline-block;
    padding: 0.25em;
    border: 1px solid white;
}

/*Nav*/

nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 0.5em;
}

/*Columns of page*/

section {
    color: darkred;
    text-align: center;
    margin: auto;
    width: 100%;
}
section h2 {
    font-size: 2em;
}
section p {
    font-size: 1.5em;
}
section a {
    color: black;
    text-decoration: underline;
}
section a:hover {
    color: darkred;
}
footer {
    background-color: darkred;
    padding: 1em;
    clear: both;
    width: 100%:
}
p {
    text-align: left;
    font-size: 1.15em;
    text-indent: 2em;
    color: darkred;
}
footer p {
    text-indent: 0;
    color: white;
    text-align: center;
}

/*--------CLASSES--------*/


/*sets block elements to center*/

.center {
    margin: auto;
}

/*Responsive*/

.container {
    width: 100%;
    padding: 0 1em;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Bar used for styling*/

.bar {
    width: 100%;
    height: 10px;
    background-color: darkred;
    margin-bottom: 1em;
}

/*Current page that you're on*/

.current {
    color: yellow;
}

/*Custom font*/

.font {
    font-family: myFont;
    font-size: 4em;
    color: darkred;
    text-align: center;
}

/*COLUMNS*/

.col-75-perc {
    float: left;
    width: 100%;
}
.col-25-perc {
    float: left;
    width: 100%;
}
.col-50-perc {
    float: left;
    width: 100%;
}

/*Left Justification*/

.left-just {
    text-align: left;
}
.clear {
    clear: both;
}

/*Adds small margin*/

.m-top {
    margin-top: 1.5em;
}

/*--------IDS--------*/

#open-table {
    margin: auto;
    width: 170px;
}
#map {
    display: none;
}

/*Links*/

a {
    text-decoration: none;
    color: white;
    transition: color 0.5s;
}
a:hover,
a:active {
    color: yellow;
}

/*Responsive*/

button {
    display: none;
}
#button {
    display: block;
}
@media screen and (min-width: 900px) {
    .container {
        width: 900px;
        margin: auto;
    }
    iframe {
        width: 480px;
        height: 440px;
        border: 3px darkred solid;
    }
    .col-75-perc {
        float: left;
        width: 75%;
    }
    .col-25-perc {
        float: left;
        width: 25%
    }
    .col-50-perc {
        float: left;
        width: 50%;
    }
    #button {
        display: block;
    }
    #map {
        display: block;
    }
}
@media screen and (max-width: 650px) {
    nav li {
        display: block;
    }
    #button {
        display: none;
    }
    button {
        display: block;
        color: yellow;
        background-color: darkred;
    }
    .font {
        font-size: 2em;
    }
    iframe {
        width: 100%;
        border: none;
    }
    header .container h1 {
        font-size: 2em;
    }
    header .container h2 {
        font-size: 1em;
    }
    header .container h3 {
        font-size: 0.85em;
    }
}

/*Fonts*/

@font-face {
    font-family: myFont;
    src: url("font.ttf");
}
