/*TRAVEGENCY CSS, MADE BY SEBASTIAN SAFARI*/


/*TAGS*/

html {
    background-color: rgb(59, 59, 59);
    color: white;
}
body {
    margin: auto;
    padding: 0 5%;
    width: 800px;
}
header {
    background: url("../images/title-bg.jpg") center;
    background-size: 100% 100%;
    padding: 1em 0;
    border: 3px black solid;
    border-radius: 6px;
    margin-top: 1em;
    position: relative;
    /*This is to set the phone number on the bottom of this element*/
}
header h1 {
    padding: 0 0.5em;
}
header h2 {
    margin-top: -2em;
    padding: 0 4em;
}
main section h2 {
    padding: 0.5em;
    text-align: center;
}
header p {
    position: absolute;
    /*This is to set the phone number on the bottom of this element*/
    text-align: right;
    bottom: 0;
    right: 0;
    margin: 0.5em;
}
main {
    background: rgb(33, 33, 33);
}
li {
    list-style: url(../images/plane.png);
}
nav {
    margin-top: 0.5em;
    margin-bottom: -1em
}
nav ul {
    list-style: none;
    margin: auto;
    text-align: center;
    padding: 1em;
}
nav li {
    display: inline;
    text-align: center;
    font-size: 1.5em;
    margin: 1.5em;
    background-color: darkorange;
    padding: 10px;
}
section {}
section p {
    padding: 0 1em;
}
section h2 {
    font-size: 2em;
    padding: 0 1em;
}
section ul {
    font-size: 1.5em;
}
section ul p {
    margin: 0.25em -1.5em;
}
section span img {
    border: 3px black solid;
    border-radius: 6px;
    margin-right: 25px
}
footer p {
    font-size: 1em;
}
p {
    font-size: 1.25em;
}

/*CLASSES*/

.center {
    margin: auto;
}
.center-text {
    text-align: center;
}
.indent {
    text-indent: 2em;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear-floats {
    clear: both;
}
.underline {
    text-decoration: underline;
}
.inline-block {
    display: inline-block;
}
.no-border {
    border: none;
}

/*ID's*/

#cursive-font {
    font-family: "Brush Script MT", serif;
    font-size: 500%;
}
#deals {
    border: 3px black solid;
    border-radius: 6px;
    background: -webkit-radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    background: -moz-radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    background: -o-radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    background: radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    padding: 1em;
    margin-left: 1em;
    margin-right: 25px;
    width: 400px;
}
#deals p {
    margin-bottom: 0;
}
#deals-big {
    border: 3px black solid;
    border-radius: 6px;
    background: -webkit-radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    background: -moz-radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    background: -o-radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    background: radial-gradient(circle, rgba(203, 203, 203, 0.35) 1%, rgb(59, 59, 59) 90%);
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em
}
#deals-big p {
    margin-bottom: 0;
}
#sf-bridge {
    border: 3px black solid;
    border-radius: 6px;
}
#sf-bridge-big {
    border: 3px black solid;
    border-radius: 6px;
    margin-top: -5em;
}
#logo {
    -moz-transition: width 0.5s;
    transition: width 0.5s;
}
#logo:hover {
    width: 215px;
}
#handshake {
    margin-top: 3em;
}

/*OTHER ( Animations)*/

nav li {
    -moz- transition: font-size 0.5s;
    transition: font-size 0.5s;
}
nav li:hover {
    font-size: 2.25em;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;
}
a {
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: black;
}
