 @charset"UTF-8";
 /* Week 4 CSS */

 header {
     background: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
     background: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
     background: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
     background: linear-gradient(45deg, white 0%, orange 75%, black 100%);
     color: black;
     padding: 10px;
 }
 footer {
     background: -webkit-linear-gradient(45deg, black 0%, orange 75%, white 100%);
     background: -o-linear-gradient(45deg, black 0%, orange 75%, white 100%);
     background: -moz-linear-gradient(45deg, black 0%, orange 75%, white 100%);
     background: linear-gradient(45deg, black 0%, orange 75%, white 100%);
     color: black;
     padding: 10px;
     border: 8px solid #000
 }
 section {
     border: 8px #000 solid;
     padding: 1em;
 }
 html {
     background-image: url(../week4/images/web.png);
 }
 footer {
     font-size: 0.8em;
 }
 * {
     font-family: Arial, sans-serif;
 }
 h3:first-letter {
     font-size: 96px;
     color: orange;
 }
 .center {
     display: block;
     margin: auto;
     text-align: center;
 }
 body {
     width: 800px;
     margin: auto;
     background-color: rgba(0, 0, 0, 1);
     background-repeat: no-repeat;
     background-size: 100%;
     background-color: white;
     font-size: 24px;
     box-shadow: -10px 10px 20px #111;
 }
 header {
     color: orange;
     border: 8px solid #000
 }
 img {
     transition: width 0.25s;
 }
 img:hover {
     width: 200px;
 }
 h1 {
     transition: font-size 0.5s, color 0.5s;
     /*     text-shadow: 5px 8px 10px #111;*/
     font-size: 3em;
     color: red;
 }
 h1:hover {
     font-size: 84px;
     color: darkred;
 }
 h4,
 h5 {
     text-indent: 2em;
     font-size: 24px;
 }
 ul {
     margin-top: -1%;
     display: inline-block;
     text-align: center;
     list-style-type: none;
 }
 @media screen and (min-width: 600px) {
     li {
         display: inline;
     }
 }
 @media screen and (max-width: 599px) {
     li {
         display: block;
     }
 }
 /*display inline needs to change based on screen size*/

 li {
     font-size: 24px;
     padding: 0 10px 0 10px;
 }
 li a {
     text-decoration: none;
     border: 4px solid #9f0000;
     border-radius: 10px;
     transition: border-radius 0.5s, font-size 0.5s;
 }
 h6 {
     font-size: 24px;
 }
 .bg {
     text-decoration: none;
     background-color: #6d0000;
     border: 1px solid orangered;
     border-radius: 10px;
     padding: 10px;
 }
 .container {
     width: 100%;
     /*     border: 8px solid #000;*/
     /*     text-shadow: 0 0 0 #111;*/
 }
 .content {
     color: red;
     width: 100%;
     margin: auto;
     padding: 25px;
     background-color: #373737;
     border: 8px solid #000;
     /*     text-shadow: 0 0 0 #111;*/
 }
 .orangeText {
     color: orange;
 }
 .homeBtn a {
     font-size: 18px;
     padding: 5px;
     background-color: #520000;
     border: 1px #520000 solid;
     border-radius: 5px;
     transition: font-size 0.5s;
 }
 #goblin {
     color: red;
     font-size: 42px;
     transition: font-size 0.15s;
 }
 #goblin:hover {
     font-size: 72px;
 }
 #nav {
     padding-top: 5px;
     background-color: #9f0000;
     margin: 0px -25px 0px -25px;
     display: block;
     margin: 2em;
 }
 #nav p {
     display: inline-block;
     border: 2px orange solid;
 }
 /*
*All font code, keep at bottom
*
*/

 @font-face {
     font-family: 'charbbreg';
     src: url('./charbbreg.eot');
     src: local('charbbreg'), url('../../week4/charbbreg.woff') format('woff'), url('./charbbreg.ttf') format('truetype');
 }
 .font {
     font-family: charbbreg;
     letter-spacing: 2px;
 }
 li a:hover {
     font-weight: bold;
     background-color: orangered;
     color: green;
     border: 4px solid orangered;
     border-radius: 40px;
     font-size: 32px;
 }
 /* unvisited link */

 a:link {
     color: orange;
 }
 /* visited link */

 a:visited {
     color: orange;
 }
 a:hovwe {
     color: green;
 }
