 @charset"UTF-8";
 /* Main CSS */
 /*
*
*/
 /*MAKE ALL STYLESHEETS INTO ONE FOLDER< ORGANIZE EVERYTHING*/
 /* Sets line height, helpful for adding nicelink*/
 
 p {
     line-height: 1.5em;
 }
 /*Image border*/
 
 img {
     margin-top: 1em;
     border: 3px solid rgb(65, 175, 255);
 }
 /*us img*/
 
 #imag {
     margin: 0.5em;
     float: right;
 }
 /*Makes a textbox*/
 
 .textBox {
     font-size: 24px;
 }
 /*Indents*/
 
 .indent {
     text-indent: 2em;
 }
 /*Blue background*/
 
 .blueBG {
     background-color: rgb(65, 175, 255);
 }
 /*Github link*/
 
 .githubBtn {
     font-size: 24px;
     position: relative;
     bottom: 0.35em;
     border: 1px solid rgb(65, 175, 255);
     color: white;
     background-color: rgb(65, 175, 255);
     padding: 0.25em;
     border-radius: 0.25em;
     text-decoration: none;
     transition: border-radius 0.5s, font-size 0.5s;
     -webkit-transition: border-radius 0.5s, font-size 0.5s;
     -moz-transition: border-radius 0.5s, font-size 0.5s;
 }
 /*Grows */
 
 .githubBtn:hover {
     border-radius: 0.75em;
     font-size: 32px;
 }
 #titleTxt {
     line-height: 2em;
 }
 /*Preps hover trans*/
 
 #titleTxt a {
     text-decoration: none;
     color: #666;
     padding: 0 1em;
     border: 10px solid transparent;
     transition: border 0.25s, color 0.25s;
     -webkit-transition: border 0.25s, color 0.25s;
     -moz-transition: border 0.25s, color 0.25s;
 }
 /*Hover trans*/
 
 #titleTxt a:hover {
     color: rgb(65, 175, 255);
     border-bottom-color: rgb(65, 175, 255);
     border-top-color: rgb(65, 175, 255);
 }
 /*Blue widbackground for navs*/
 
 .bg {
     background-color: rgb(65, 175, 255);
     padding: 0.05em 0em 0.05em 0em;
     font-size: 18px;
 }
 /*Background image*/
 
 .logo {
     transition: width 0.5s;
     margin-bottom: -0.35em;
 }
 /*Resize on hover*/
 
 .logo:hover {
     width: 150px;
 }
 /*Default font for document*/
 
 body {
     font-family: Arial, sans-serif;
     color: #444;
 }
 /*Logo, ssebs, and github */
 
 #topRow {
     margin-top: -0.5em;
     font-size: 72px;
     margin-bottom: 2%;
 }
 /*Centers whatever uses this class*/
 
 .center {
     margin: auto;
     display: block;
 }
 /*centers text*/
 
 .centerText {
     text-align: center;
 }
 /*Margin for main content*/
 
 section {
     margin: 1em 2em 1em 2em;
 }
 /*Keeps footer on bottom*/
 
 footer {
     padding-top: 2em;
     clear: both;
 }
 /*Nav Styling*/
 
 li {
     display: inline-block;
     margin: 2% 1%;
     padding: 4px 4px 4px 4px;
 }
 /*Changes color of link*/
 
 li a {
     color: white;
     background-color: rgb(65, 175, 255);
     padding: 3px;
     border: 2px solid white;
     text-align: center;
     text-decoration: none;
     transition: border 0.5s, background 0.5s;
     -webkit-transition: border 0.5s, background 0.5s;
     -moz-transition: border 0.5s, background 0.5s;
 }
 /*Color change trans*/
 
 li a:hover {
     color: rgb(65, 175, 255);
     border: 2px solid rgb(65, 175, 255);
     background-color: rgb(255, 255, 255);
 }
 /*Color change trans*/
 
 li a:active {
     color: rgb(65, 175, 255);
     border: 2px solid rgb(255, 255, 255);
     background-color: rgb(121, 121, 121);
 }
 /*Changes color of link*/
 
 .niceLink {
     color: white;
     background-color: rgb(65, 175, 255);
     margin: 0em 0.2em;
     padding: 3px;
     border: 2px solid white;
     text-align: center;
     text-decoration: none;
     transition: border 0.5s, background 0.5s;
     -webkit-transition: border 0.5s, background 0.5s;
     -moz-transition: border 0.5s, background 0.5s;
 }
 /*Color change trans*/
 
 .niceLink:hover {
     color: rgb(65, 175, 255);
     border: 2px solid rgb(65, 175, 255);
     background-color: rgb(255, 255, 255);
 }
 /*Color change trans*/
 
 .niceLink:active {
     color: rgb(65, 175, 255);
     border: 2px solid rgb(255, 255, 255);
     background-color: rgb(121, 121, 121);
 }
 /*For responsive design*/
 
 @media screen and (min-width:857px) {
     .container {
         width: 800px;
     }
 }
 /*For responsive design*/
 
 @media screen and (max-width:857px) {
     .container {
         width: 100%;
     }
     .textBox {
         width: 100%;
         float: none;
     }
     #imag {
         display: block;
         margin: auto;
         width: 100%;
     }
     li {
         display: block;
     }
     ul {
         display: inline;
     }
 }
 /*For responsive design pt2*/
 
 @media screen and (max-width:620px) {
     .logo {
         margin: auto;
     }
     #titleTxt {
         display: block;
     }
     .githubBtn {
         margin: auto;
     }
 }
